html {
  box-sizing: border-box;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background: #d05c2e;
}

header h1 {
  color: #fff;
  text-align: center;
}
