html {
  box-sizing: border-box;
  background-color: #fff;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background: #d05c2e;
  padding: .5em 0 0;
}

header h1 {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding: 0;
  font-weight: bold;
}

header .left {
  float: left;
  width: 40px;
}

header .right {
  float: right;
  width: 40px;
}

nav {
  margin: .4rem 0;
  padding: 0;
  overflow: hidden;
  background-color: #d05c2e;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav li {
  float: left;
  width: 33%;
    border: 1px #a63f38 solid;
}

nav a {
  display: block;
  font-size: 1.125rem;
  background-color: #d05c2e;
  text-decoration: none;
  padding: .4rem 0;
  color: #fff;
}

nav a:hover {
  background-color: #a63f38;
}
